* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: solid seagreen 2px;
  background: linear-gradient(110deg, #f93d66, #6d47d9);
  align-items: center;
  font-family: "Rock Salt", cursive;
  z-index: 1;
  width: 100%;
  top: 0;
  max-height: 70px;
}
ul {
  list-style: none;
  display: flex;
  margin-right: 1rem;
}

li {
  margin: 0.2rem;
  padding: 0 0.7rem;
}

a {
  text-decoration: none;
  color: white;
}

.brand {
  color: white;
  float: left;
  margin-left: 2rem;
  cursor: pointer;
}

.hero {
  height: 100vh;
  background: url(./apple-background-desk-electronics-399161.jpg) no-repeat
    center center/cover;
}

.inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-content: center;
}

.inner h1 {
  font-family: "Rock Salt", cursive;
  /* background-color: rgba(0, 0, 0, 0.1); */
  font-size: 55px;
}

.inner p {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgba(0, 0, 0, 0.1); */
  font-size: 20px;
}
.btn {
  display: inline-block;
  color: #333;
  font-size: 1.5rem;
  background-color: white;
  margin-top: 1rem;
  margin-right: 0.5rem;
  padding: 0.5rem 0.7rem;
  border-radius: 10%;
  cursor: pointer;
}
