html {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
  background: linear-gradient(to right, #2c3e50, #2980b9) no-repeat center
    center/cover;
  min-height: 100vh;
}

.files {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

h1 {
  font-family: "Rock Salt", cursive;
  color: #fff;
  font-size: 45px;
  text-align: center;
}

.file {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 20px;
  align-items: center;
  color: #fff;
  font-weight: 100;
  /* overflow-wrap: break-word; */
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  width: 100%;
}
.details {
  width: 100%;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  h1 {
    font-size: 25px;
  }
}
